body{   
    background: #778899;   
}
.cabecalho{
    width: 100%;
    background: #1E90FF;
    height: 6em;    
}   
.cabecalho .logo, .cabecalho .menu{
    float: left;
}
.cabecalho .logo img{
    margin: auto;
    width: 7em;
    padding: 1em 1em 1em 2em;
}
.cabecalho .menu{
    width: 90%;
}
.cabecalho .menu ul li{
    display: inline-block;
    margin: 2em auto;

}
.cabecalho .menu ul li a {  
    display: inline-block;  
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border-radius: 6px;    
    -webkit-transition: all 0.3s ease-in 0s;
       -moz-transition: all 0.3s ease-in 0s;
        -ms-transition: all 0.3s ease-in 0s;
         -o-transition: all 0.3s ease-in 0s;
            transition: all 0.3s ease-in 0s;
    margin: auto;
}

.cabecalho .menu ul li a:hover{
    background: #778899;
    color: black;
    text-decoration: none;

}

.cabecalho .login{
    float: right;
}  

#editar{
    float: right; 
    padding: 0 1em;

}.carouselTamanho{
    width: 800px;
    height: 500px;
    padding: 2em;
    margin: auto;
   
}

#sair{
    float: right;  

}
#body{
    width: 80%;
    margin: 2em auto;
    
}
form{
    padding: 30px;
    margin: auto;
}
.bloco{
    background: white;
    width: 40%;
    border-radius: 12px;
}
.bsalvar {
    margin: auto;
}

.compra{
    margin: auto;
}
.tabelas{
    margin: auto;
    width: 80%;
}
.tabela_img{
    height: 6em;
}
.input_login input{
    width: 50%;
}
.home{
    text-align: center;
    padding: 50px;
}