{% extends "main.html" %}
{% block conteudo %}
<div class="compra">
    
    
    {% for i in produtos  %}    
    
    {% if i[2] == 1 %}        
    <select>        
            <option value="i[0]">{{ i[1] }}</option>         
            
        </select>
    {% endif %}
    
    {% endfor %}
    <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>
    </form>

{% endblock %}
