{% extends "main.html" %}
{% block conteudo %}
<div class="compra">
    <select>
        <option>Informe o processador</option>
        <!-- inicio for it -->
            <option>Rio de Janeiro</option>
        <!-- termino for it -->
    </select>
    <br>
    <br>
    <select>
        <option>Informe a placa mãe</option>
        <!-- inicio for it -->
            <option>Rio de Janeiro</option>
        <!-- termino for it -->
    </select>
    <br>
    <br>
    <select>
        <option>Informe a memória RAM</option>
        <!-- inicio for it -->
            <option>Rio de Janeiro</option>
        <!-- termino for it -->
    </select>
    <br>
    <br>
    <select>
        <option>Informe a placa de vídeo</option>
        <!-- inicio for it -->
            <option>Rio de Janeiro</option>
        <!-- termino for it -->
    </select>
    <br>
    <br>
    <select>
        <option>Informe a memória de amarzenamento</option>
        <!-- inicio for it -->
            <option>Rio de Janeiro</option>
        <!-- termino for it -->
    </select>
    <br>
    <br>
    <select>
        <option>Informe o gabinete</option>
        <!-- inicio for it -->
            <option>Rio de Janeiro</option>
        <!-- termino for it -->
    </select>
    <br>
    <br>
    <select>
        <option>Informe a fonte</option>
        <!-- inicio for it -->
            <option>Rio de Janeiro</option>
        <!-- termino for it -->
    </select>
</div>
{% endblock %}
