{% extends "main.html" %}
{% block conteudo %}
<div class="margin">
<div class="home">
    <h4 >Monte seu Computador</h4>
    
    <p class="mb-0">
        Nosso conceito é trazer ao cliente o poder de escolha, dando a ele a oportunidade de montar seu computador conforme sua necessidade e preferencia.
    </p>
</div>
<div class="carouselTamanho">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/img/img1.jpg" class="d-block w-100" alt="...">
        </div>
        
        <div class="carousel-item">
          <img src="../static/img/img3.jpg" class="d-block w-100" alt="...">
        </div>
        
    </div>
  </div>
</div>
</div>
{% endblock %}
