{% extends "main.html" %}
{% block conteudo %}
<table class="tabelas" border="1">
    <tr>
        <td colspan="2">Processadores</td>
    </tr>  
    <!-- inicio for it --> 
    <!-- imagem teste --> 
    <tr>
        <td rowspan="2"><img class="tabela_img" src="../static/img/pc.jpg" alt=""></td>
        <td>Descricao</td>
    </tr>
    <tr>
        <td>Preco</td>
    </tr>
    <!-- termino for it -->
</table>
<br><br>
<table class="tabelas" border="1">
    <tr>
        <td colspan="2">Placas-mãe</td>
    </tr>  
    <!-- inicio for it --> 
    <tr>
        <td rowspan="2">Imagem</td>
        <td>Descricao</td>
    </tr>
    <tr>
        <td>Preco</td>
    </tr>
    <!-- termino for it -->    
</table>
<br><br>
<table class="tabelas" border="1">    
    <tr>
        <td colspan="2">Memórias RAM</td>
    </tr>  
    <!-- inicio for it --> 
    <tr>
        <td rowspan="2">Imagem</td>
        <td>Descricao</td>
    </tr>
    <tr>
        <td>Preco</td>
    </tr>
    <!-- termino for it -->
</table>
<br><br>
<table class="tabelas" border="1">    
    <tr>
        <td colspan="2">Placas de vídeo</td>
    </tr>  
    <!-- inicio for it --> 
    <tr>
        <td rowspan="2">Imagem</td>
        <td>Descricao</td>
    </tr>
    <tr>
        <td>Preco</td>
    </tr>
    <!-- termino for it -->
</table>
<br><br>
<table class="tabelas" border="1">
    <tr>
        <td colspan="2">Gabinetes</td>
    </tr>  
    <!-- inicio for it --> 
    <tr>
        <td rowspan="2">Imagem</td>
        <td>Descricao</td>
    </tr>
    <tr>
    <td>Preco</td>
    </tr>
    <!-- termino for it -->    
</table>
<br><br>
<table class="tabelas" border="1">    
    <tr>
        <td colspan="2">Fontes</td>
    </tr>  
    <!-- inicio for it --> 
    <tr>
        <td rowspan="2">Imagem</td>
        <td>Descricao</td>
    </tr>
    <tr>
        <td>Preco</td>
    </tr>
    <!-- termino for it -->
</table>
{% endblock %}
