{% extends "main.html" %}
{% block conteudo %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Categoria</th>
            <th scope="col">Preço</th>
        </tr>
    </thead>
    <tbody>
        {% for i in lista %}
        <tr>
            <td>{{i[0][1]}}</td>
            <td>{{i[0][2]}}</td>
            <td>R$ {{i[0][3]}}</td>
            
        </tr>
        {% endfor %}
        <tr>
            <td>Valor Total da Compra</td>
            <td></td>
            <td>R$ {{valor_total}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
